*{
}

body{
    height: 100vh;
    width: 100vw;
}

/*body div.container{
    margin-left: 10rem;
    margin-right: 10rem;
}*/

body .my_root_container {
    margin-left: 10rem;
    margin-right: 10rem;
}

body div.container ul.nav *{
    color: white;
}

body img {
    display: block;
    height: 20vh;
    max-width: 100%;
}

.my_container{
    display:flex;
}

.my_nav_sidebar{
    background-color: black;
    width: 20%;
}


body.chatbox{
    width: 100%;
    text-align:center;
    margin: unset;
    box-sizing:border-box;
}

body.chatbox div{
    width: 100%;
}

body.chatbox .chatbox-title{
    background-color: #fa69f7;
    height: 3rem;
}

body.chatbox .chatbox-container{
    display: flex;
}

body.chatbox .chatbox-content{
    height: 80%;
    overflow: scroll;
}

body.chatbox input{
    width: 100%;
    background-color: #c2c2c2;
    border: unset;
}

body.chatbox button{
    border: unset;
    transition: ease-in 0.5s;
}

body.chatbox button:hover{
    background-color: #aea3a3;
}

body.chatbox input.chatbox-input{
    height: 3rem;
}

body.chatbox input{
    outline: none;
}

body.chatbox button.sendbutton{
    width: 3rem;
}

body.chatbox .chatbox-childdiv{
    display:flex;
}

body.chatbox .chatbox-usernametag{
    width: unset;
}

body.chatbox .chatbox-message{
    width: unset;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #c2c2c2;
    font-size: 2rem;
}

body.chatbox .send{
    justify-content: flex-end;
}